@font-face{
  font-family: NotoSans;
  src: url(../NotoSans.ttf);
}

.topnav{
    text-align: right;
    font-family: NotoSans;
    background-color: #FCEAAB;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
p {
  float: center;
  background: white;
  background: rgba(255,255,255,0.8);
  font-family: NotoSans;
  color: #F4B5B5;
  margin: 300px;
  text-align: center;
}

