<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet"href="{{ url_for('static', filename='stylesheets/index.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet"href="{{ url_for('static', filename='stylesheets/navbar.css') }}">
    <title>Come Up With Title Later</title>
  </head>

  <body style="background-color: #f2f2f2;">
    <div style="background-color:  #FCEAAB;">
      <div class="topnav">
          <a href="/createaccount">Create an Account</a>
          <a href="/signin">Sign In</a>
      </div>

      <div class="titlenav pt-5">
          <h1>LettrBox</h1>
      </div>

          <div class="homenav pt-2">
        <div class="row">
          <div class="col-sm-1">
            <a class="btn navbarButtons" href="/" role="button">Home</a>
          </div>
          <div class="col-sm-1">
            <a class="btn navbarButtons" href="/" role="button">About</a>
          </div>
          <div class="col-sm-1">
            <a class="btn navbarButtons" href="/myprofile" role="button">Letters</a>
          </div>
          <div class="col-sm-9">
            <input type="text" placeholder="Search..">
          </div>
        </div>
      </div>
    </div>

    <div>
      <img src = "https://media.discordapp.net/attachments/804197104796827648/805307001037914112/logo.png" width = "700">
    </div>

    <div>
      <p><b>Problem:</b> Due to covid many people have not been able<br>
        to interact with their friends and family. Research shows<br>
        that healthy relationships and human interactions can help a<br>
        person's mental health, but unfortunatle covid has affected many<br>
        people's relationships with others. We wanted to build a solution<br>
        that would keep people connected. Often times, text messages and<br>
        emails can get lost in someone's inbox, and most phone calls can be meaningless.</p>
    </div>

    <div>
      <p><b>Solution:</b> We thought, that a great way for people to stay connected<br>
        with each other was through meaningful letters. Introducing lettr,<br>
        a new way to stay connected with your loved ones. Lettr lets you write<br>
        meaningful messages to one another and helping you stay connected through this tough time</p>
    </div>

    <!-- Add These To all HTMl Files -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <script src="https://www.gstatic.com/firebasejs/8.2.3/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.2.3/firebase-analytics.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.2.3/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.2.3/firebase-database.js"></script>
  </body>
</html>
