<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet"href="{{ url_for('static', filename='stylesheets/navbar.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>LettrBox</title>
  </head>
  <body>
    <div style="background-color: #FCEAAB;" >
      <div class="topnav">
          <a href="#create">Create an Account</a>

          <a href="#signIn">Sign In</a>
      </div>
      <div class="titlenav pt-5">
          <h1>Project Name</h1>
      </div>
      <div class="homenav pt-2">
        <div class="row">
          <div class="col-sm-1">
            <a class="btn navbarButtons" href="#" role="button">Home</a>
          </div>
          <div class="col-sm-1">
            <a class="btn navbarButtons" href="#" role="button">About</a>
          </div>
          <div class="col-sm-1">
            <a class="btn navbarButtons" href="#" role="button">Letters</a>
          </div>
          <div class="col-sm-9">
            <input type="text" placeholder="Search..">
          </div>
        </div>
      </div>
    </div>

    <div class="container">

    </div>


    <!-- Add These To ALL HTML -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <script src="https://www.gstatic.com/firebasejs/8.2.3/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.2.3/firebase-analytics.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.2.3/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.2.3/firebase-database.js"></script>
    <script src = "../static/firebase.js"></script>
    <script src = "../static/messages.js"></script>
    <!-- Add These To ALL HTML -->
  </body>
</html>
